trunk/Prototypes/UIPrototypesSolution/RUBPrototypes/SampleData/OrderItems/OrderItems.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.OrderItems" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.OrderItems" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OrderItems" type="tns:OrderItems" />
  <xs:complexType name="OrderItems">
    <xs:sequence>
      <xs:element name="PendingOrders" type="tns:PendingOrders" />
      <xs:element name="MenuItems" type="tns:MenuItems" />
      <xs:element name="Reports" type="tns:Reports" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PendingOrders">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PendingOrdersItem" type="tns:PendingOrdersItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PendingOrdersItem">
    <xs:sequence>
      <xs:element name="Items" type="tns:Items" />
    </xs:sequence>
    <xs:attribute name="CountdownTime" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Items">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ItemsItem" type="tns:ItemsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemsItem">
    <xs:attribute name="ItemName" type="xs:string" />
    <xs:attribute name="Price" type="xs:double" />
    <xs:attribute blend:FormatParameters="1" name="Qty" type="xs:double" />
    <xs:attribute name="Number" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="MenuItems">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="MenuItemsItem" type="tns:MenuItemsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MenuItemsItem">
    <xs:attribute name="Number" type="xs:string" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Price" type="xs:double" />
    <xs:attribute name="Image" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Reports">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ReportsItem" type="tns:ReportsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReportsItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Group" type="xs:string" />
  </xs:complexType>
</xs:schema>