RUBBBQSolution/RUBPrototypes/SampleData/OrderItems/OrderItems.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.OrderItems" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.OrderItems" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OrderItems" type="tns:OrderItems" />
  <xs:complexType name="OrderItems">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
      <xs:element name="PendingOrders" type="tns:PendingOrders" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:FormatParameters="3,5" name="ItemName" type="xs:string" />
    <xs:attribute name="Price" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="PendingOrders">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PendingOrdersItem" type="tns:PendingOrdersItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PendingOrdersItem">
    <xs:sequence>
      <xs:element name="Items" type="tns:Items" />
    </xs:sequence>
    <xs:attribute name="CountdownTime" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Items">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ItemsItem" type="tns:ItemsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemsItem">
    <xs:attribute name="ItemName" type="xs:string" />
    <xs:attribute blend:FormatParameters="2" name="Price" type="xs:double" />
    <xs:attribute blend:FormatParameters="1" name="Qty" type="xs:double" />
  </xs:complexType>
</xs:schema>